th, td{ 
border: 1px solid gray;
vertical-align: top;
}
body > header {
    background-image: url("/images/technik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
header > div {
    background-color: transparent!important;
}
body > header h1 {
    color: #ffffff!important;
    font-weight:400!important;
    text-shadow: 2px 2px black;
}